h2{
    background-color: rgb(201, 215, 215);
    color: white;
 }
 
 input{
     background-color: white;
     border-radius: 5px;
     cursor: pointer;
     margin: 5px;
 }
 
 button{
     background-color: rgb(255 , 0, 0);
     color: white;
     border: none;
     height: 36px;
     width: 74px;
     border-radius: 3px;
     font-weight: bold;
     cursor: pointer;
     margin-left: auto;
     box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
     position: fixed;
     left: 50%;
 }
 
 button:hover{
     opacity: 0.3;
     transition: background-color 0.15s;
 }
 .container{
     max-width: 900px;
     margin: 20px auto;
     padding: 20px;
     background-color: white;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
