* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.containner {
  width: 98%;

  margin: 0 auto;
  height: 100%;
  display: flex;
  gap: 10px;
}
.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contributers {
  background-color: blue;
  height: 300px;
}
.learners {
  height: 200px;
  background-color: brown;
}
.course {
  background-color: burlywood;
  height: 500px;
}
.dashboard {
  background-color: cadetblue;
}
