:root {
  --main-color: #b67dcf;
  --red: #e74c3c;
  --oragen: #f39c12;
  --white: #fff;
  --black: #2c3e50;
  --light-color: #888;
  --light-bg: #eee;
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.header {
  background-color: whitesmoke;
  border-bottom: var(--border);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo-container {
  flex: 0 0 auto;
  max-width: 20%;
}

.logo-img {
  max-width: 15%;
}

.header .sec {
  padding: 0.5rem 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containner {
  padding: 1rem;
  width: 98%;
  margin: 0 auto;
  height: 100%;
  display: flex;
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contributer {
  width: 70%;
  padding: 1rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.learners {
  width: 70%;
  padding: 1rem;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.course {
  width: 70%;
  padding: 1rem;
  text-align: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.dashboard {
  height: 600px;
  width: 90%;
  padding: 1rem;
  text-align: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.teacher-box {
  text-align: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-color: #404447;
  transition: 300ms;
}

.teacher-box:hover {
  background-color: var(--light-bg);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  transform: scale(1.02);
}

.rating {
  display: inline-block;
}

.rating > input {
  display: none;
}

.rating > label {
  float: right;
  cursor: pointer;
  font-size: 30px;
  color: #888;
  pointer-events: none;
}

.rating > label:before {
  content: "★";
  margin-right: 5px;
  color: #888;
}

.rating > input:checked ~ label:before {
  content: "★";
  color: #ffa723;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
  color: #ffa723;
}

.button1 {
  margin-top: 10px;
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(193, 163, 98);
  border: 2px solid rgb(193, 163, 98);
  border-radius: 15px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.button1::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(193, 163, 98);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button1:hover::before {
  scale: 3;
}

.button1:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.button1:active {
  scale: 1;
}
